{% extends "base.html"%}
{% block content%}
<label style="  text-align: center; justify-content: center;"><p style="font-family: Poppins; font-size: 45px;">Find out what <span class="yellow">bird</span> </p><p style="font-family: Poppins;font-size: 45px;">is <span class="yellow">singing</span> nearby!</p> </label>
{% endblock %}
{% block form %}
<div class="card"  style="width:43rem; margin-right: 0%; background-color:  #5B5A54; padding-bottom: 15px; left: 130px; "> 
<div class="form">
   <div class="card-body" style=" color:black;">
   <form style="margin-top: 10px;" action = "http://localhost:5000/prediction" method = "POST" 
                         enctype = "multipart/form-data" >
                         <label class="btn btn-light" style="margin-left: 0px; " for="exampleFormControlFile1">Choose sounds!</label>
                         <input style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" type = "file" name = "file"   class="form-control-file" id="exampleFormControlFile1">
                         <input style="margin-left: 180px; background-color:#F7DE40; margin-top: 0px; margin-bottom: 0px;" type = "submit" class="btn btn-light" value="Discover!">
                    </form>
</div>
</div>
</div>



{% endblock %}
